@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    box-sizing: border-box;
    
}

strong {
    color: #22D4FD;
}

.titulo-destaque {
    color: aqua;
}

h1  {
    color: whitesmoke;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 10% 15% ;
    justify-content: space-between;
}

.presentacion__contenido {
    width: 615px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
}

.presentacion__contenido__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;

    }

.presentacion__enlaces__link {
    width: 280px;
    background-color: aqua;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: black; 
}
 
